:root {
  // Layout
  --bg-red: hsl(344, 91%, 43%);

  // Label search bar
  --bg-label: hsl(168, 78%, 14%);
  --border-label: hsl(173, 33%, 5%);
  --text-color: hsl(0, 0%, 89%);

  // Text input search bar
  --border-input: hsl(0, 0%, 67%);
  --focus-border-shadow-input: hsl(236, 58%, 52%);
  --bg-input: hsl(0, 0%, 98%);

  // Pokémon front card
  --bg-card: hsl(0, 0%, 89%);
  --border-text-card: hsl(150, 33%, 1%);
  --box-shadow-card: hsl(150, 1%, 50%);

  // Pokémon back card
  --bg-alter-card: hsl(168, 78%, 14%);
  --border-alter-card: hsl(173, 33%, 5%);
  --text-alter-card: hsl(183, 100%, 96%);
}
